<div class="bg-dark text-body-teriry py-5 px-1 d-flex justify-content-center aline-items-center">
    <h1 class="header py-5" style="color: aliceblue;">Unlock your dream getaway. <br/>Reserve now, <br/>experience bliss later.</h1>
</div>
<div class="container p-lg-5 py-5">
    <h1 style="text-align: center" class="p-lg-5 pt-4 pb-4">
        Welcome to Hotel Rings – The Perfect Place!
    </h1>
    <p>
        Welcome to Hotel Rings, located strategically in the heart of Kuala
        Lumpur, offering unparalleled convenience and accessibility to iconic
        landmarks and attractions. Our hotel boasts 519 elegantly designed
        rooms, ranging from Superior to Impiana Suite, providing comfortable
        accommodations tailored to suit every traveler’s needs.
    </p>
    <p>
        Embark on a culinary journey at our four dining outlets – Tonka Bean,
        Bohemia(opening soon), Oswego, and Cedar(opening soon) – where a diverse
        array of flavors awaits to satisfy every palate. From sumptuous
        international cuisine to refreshing cocktails, our dining venues promise
        an unforgettable dining experience.
    </p>
    <p>
        As the only hotel linked to the Pavilion-KLCC pedestrian bridge, we
        provide a seamless pathway connecting Pavilion Kuala Lumpur and the
        Kuala Lumpur Convention Centre. This exclusive walkway allows our guests
        to easily explore these premier destinations known for their luxury
        boutiques, international brands, and exquisite dining options. Whether
        you’re here for business, shopping, or leisure, Hotel Rings offers
        exceptional comfort, convenience, and unparalleled hospitality.
    </p>
    <p>
        Immerse yourself in Kuala Lumpur’s vibrant energy and cultural
        diversity, knowing that every moment at our hotel is carefully crafted
        to create unforgettable memories. We eagerly await your arrival at
        Impiana KLCC Hotel.
    </p>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card m-3">
                <img src="https://mediastore.hotelcontent.net/5cdc880dadc1cdf479be4b7aa335c245/79521cdea3eff83/e95b7731338f045dfcbc61014dcd6eb0.png"
                    height="260" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="caed-title"> StayCation </h2>
                    <p class="card-text"> Book a single bedroom now get 10% discount </p>
                    <a href="#" class="btn btn-dark">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card m-3">
                <img src="https://mediastore.hotelcontent.net/5cdc880dadc1cdf479be4b7aa335c245/79521cdea3eff83/c928cbf57614bcad656e92c4816be5d7.jpg"
                    height="260" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="caed-title"> EarlyBird </h2>
                    <p class="card-text"> Book a Dulex bedroom now get upto 20% discount </p>
                    <a href="#" class="btn btn-dark">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card m-3">
                <img src="https://mediastore.hotelcontent.net/5cdc880dadc1cdf479be4b7aa335c245/79521cdea3eff83/937f9378ef7ab3291a323a07eb5d0706.jpg"
                    height="260" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="caed-title"> BestAvailable </h2>
                    <p class="card-text"> Book a single bedroom now get 10% discount </p>
                    <a href="#" class="btn btn-dark">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-rooms></app-rooms>